/*Side bar scroll bar*/
.libraryBox::-webkit-scrollbar {
    width: 12px;
    /* or height for horizontal scroll */
}

.libraryBox::-webkit-scrollbar-track {
    background: transparent;
    /* hides the track */
}

.libraryBox::-webkit-scrollbar-thumb {
    background-color: #595959;
    /* thumb color */
}

/*Main body scroll bar*/

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #595959;
}

/*Bottom Play bar*/

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #212121;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}



